@using movierecommender.Models
@model  IEnumerable<Movie>
@{
    ViewBag.Title = "Choose";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Movie Recommender</h1>*@
<br />
<h3>Pick the movie you best liked in the past?</h3>

    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">@movie.MovieName</h4>
                        <a href="@Url.Action("Recommend", "Movies", new { id = movie.MovieID })" class="btn btn-default btn-square">Choose me</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <hr />
    <button type="button" OnClick="location.href='@Url.Action("Choose", "Movies")'" class="btn btn-lg breadcrumb btn-link">Haven't seen these movies, Try again!</button> 

