@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h3>Enter UserID & Rating</h3> 
<form asp-controller="Movies"  asp-action="SetUser">
    <label for="userid">Name</label>
    <input type="text" class="form-control" id="userid" name="userid" placeholder="Enter user id (1-300)">
    <br />
    <label for="rating">Rating</label>
    <select class="form-control" name="rating">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>

    <br />
    <button type="submit" class="btn btn-default btn-square" value="SetUser">Submit</button>
    @*<input type="submit" class="btn btn-default btn-square" value="Submit" />*@
</form>